[submodule "third_party/libcsv"]
	path = third_party/libcsv
	url = https://github.com/rgamble/libcsv.git
[submodule "third_party/json-c"]
	path = third_party/json-c
	url = https://github.com/json-c/json-c.git
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "third_party/u-boot"]
	path = third_party/u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "third_party/libubootenv"]
	path = third_party/libubootenv
	url = https://github.com/sbabic/libubootenv.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/readline"]
	path = third_party/readline
	url = https://github.com/gnu-mirror-unofficial/readline.git
[submodule "third_party/ncurses"]
	path = third_party/ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "third_party/libefivar"]
	path = third_party/libefivar
	url = https://github.com/rhboot/efivar.git
[submodule "third_party/wolfssl"]
	path = third_party/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "third_party/libssh"]
	path = third_party/libssh
	url = https://github.com/libssh/libssh-mirror.git
