[submodule "third_party/libcsv"]
	path = third_party/libcsv
	url = https://github.com/rgamble/libcsv.git
[submodule "third_party/json-c"]
	path = third_party/json-c
	url = https://github.com/json-c/json-c.git
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
